<section class="card">
  <div class="card-body">
    <h1>SALIR DEL BINGO</h1>
    <p>
      Coloca el mismo nombre con el cual iniciaste para salir de seccion
    </p>
    <form action="/about" method="POST">
      <div class="from-group">
        <input type="text" class="form-control" name="name" placeholder="Elige un nombre">
      </div>
      <br>
      <button class="btn btn-primary d-grid gap-2 col-6 mx-auto">
        Salir
      </button>
    </form>
  </div>
</section>